* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2 {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.parent > h2 {
  color: #000;
  display: flex;
  align-items: center;
}

.parent {
  display: grid;
}

.mobile {
  grid-template-rows: repeat(16, 40px);
  grid-template-columns: repeat(1, 150px);
  justify-content: center;
  align-content: center;
}
.mobile .child-1 {
  grid-row: 2/2;
  grid-column: 1/1;
  background-color: #000;
}
.mobile .child-2 {
  grid-row: 3/3;
  grid-column: 1/1;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile .child-3 {
  grid-row: 4/7;
  grid-column: 1/1;
  background-color: rgb(82, 114, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile .child-4 {
  grid-row: 7/10;
  grid-column: 1/1;
  background-color: rgb(30, 36, 62);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile .child-5 {
  grid-row: 10/12;
  grid-column: 1/1;
  background-color: rgb(210, 201, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile .child-6 {
  grid-row: 12/14;
  grid-column: 1/1;
  background-color: rgb(66, 149, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile .child-7 {
  grid-row: 14/16;
  grid-column: 1/1;
  background-color: rgb(110, 123, 182);
  display: flex;
  align-items: center;
  justify-content: center;
}

.tablet {
  grid-template-rows: repeat(16, 40px);
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  align-content: center;
}
.tablet .child-1 {
  grid-row: 2/2;
  grid-column: 1/4;
  background-color: #000;
}
.tablet .child-2 {
  grid-row: 3/7;
  grid-column: 1/4;
  background-color: rgb(82, 114, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet .child-3 {
  grid-row: 7/16;
  grid-column: 1/1;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet .child-4 {
  grid-row: 7/11;
  grid-column: 2/4;
  background-color: rgb(30, 36, 62);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet .child-5 {
  grid-row: 11/14;
  grid-column: 2/4;
  background-color: rgb(210, 201, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet .child-6 {
  grid-row: 14/16;
  grid-column: 2/3;
  background-color: rgb(66, 149, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}
.tablet .child-7 {
  grid-row: 14/16;
  grid-column: 3/4;
  background-color: rgb(110, 123, 182);
  display: flex;
  align-items: center;
  justify-content: center;
}

.desctop {
  grid-template-rows: repeat(16, 40px);
  grid-template-columns: repeat(6, 120px);
  justify-content: center;
  align-content: center;
}
.desctop .child-1 {
  grid-row: 2/2;
  grid-column: 1/1;
  background-color: #000;
}
.desctop .child-2 {
  grid-row: 2/2;
  grid-column: 2/6;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desctop .child-3 {
  grid-row: 3/10;
  grid-column: 1/6;
  background-color: rgb(82, 114, 227);
  display: flex;
  align-items: center;
  justify-content: center;
}
.desctop .child-4 {
  grid-row: 10/14;
  grid-column: 1/3;
  background-color: rgb(30, 36, 62);
  display: flex;
  align-items: center;
  justify-content: center;
}
.desctop .child-5 {
  grid-row: 10/12;
  grid-column: 4/6;
  background-color: rgb(110, 123, 182);
  display: flex;
  align-items: center;
  justify-content: center;
}
.desctop .child-6 {
  grid-row: 12/14;
  grid-column: 4/6;
  background-color: rgb(66, 149, 103);
  display: flex;
  align-items: center;
  justify-content: center;
}
.desctop .child-7 {
  grid-row: 14/16;
  grid-column: 1/6;
  background-color: rgb(210, 201, 73);
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */